# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore temporary test files
*.tmp
*.log
*.bak
*.swp
*.test

# Ignore pytest cache
.cache/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/

# Ignore IDE specific files
.vscode/
.idea/
